@model FlowerShop.Models.Produs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Galerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Galerie.GalerieId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdusID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
