@model IEnumerable<FlowerShop.Models.Galerie>

@{
    ViewData["Title"] = "Galerie";
}

<h1>Galerie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                <img src="@item.Link" alt="Photo" style="width: 150px; height: auto;">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GalerieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GalerieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GalerieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
