@model IEnumerable<FlowerShop.Models.Comanda>

@{
    ViewData["Title"] = "Comenzi";
}

<h1>Comenzi</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Produs")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Produs != null)
                {
                    @Html.DisplayFor(modelItem => item.Produs.Nume)
                }
                else
                {
                    <span>Not Assigned</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComandaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComandaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComandaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
